{% extends "layout.html" %}
{% block content %}

<div class="container-fluid p-2 mt-2">
    <div class="row">
            <div class="col-sm-3">
                    <div class="card bg-light light-danger border-light" >
                        <img class="card-img" src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/employee_added_card_logo.ico" alt="" style="width: 101%;">
                        <div class="card-img-overlay">
                      
                        </div>
                    </div>
                </div>
        <div class="col-sm-4">
            <div class="card bg-light light-danger border-light" >
                <img class="card-img" src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/employee_added_card_face.ico" alt="" style="width: 100%;">
                <div class="card-img-overlay">
                <p class="card-text">
                    <br><br><br><br><br><br><br>
                    {% for field in CompanyFormData %}
                    <div class="row">
                        <div class="col-sm-6 text-danger" style="text-align: right; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 6px;">
                            {{ field.label }}
                        </div>
                        <div class="col-sm-6 text-white" style="font-family: cursive; font-size:8px;">
                            {{ field.data }}
                        </div>
                    </div>
                    {% endfor %}
                </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-2 mt-2">
        <div class="row">
        <div class="col-sm-7">
            <div class="card text-secondary bg-light border-0">
                    <img class="card-img-top text-center" src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_go_to_walll.ico">
                    <a href="/wall">
                  <button type="button" class="btn btn-danger btn-lg btn-block" href="/wall">go to WALL</button>
                    </a>
              <div class="card-body bg-light">
                  <p class="card-text" style="font-family: 'Courier New', Courier, monospace; font-size: 6px;">Wall is all you need to add, edit, delete employee or company from database as well as features such as TimeSheet and PayStubGenerator</p>
              </div>
            </div>                
        </div>            
        </div>
    </div>
</div>

{% endblock content %}
