{% extends "layout.html" %}
{% block content %}

<div class="container-fluid p-3 m-2">
    <div class="row">
        <div class="col-sm-7">
            <div class="card text-light bg-secondary border-light">
                <img class="card-img-top mb-2" src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_formIcon_wallArt_employee_add.ico" alt="Card image" style="width:100%">
                <div class="card-body text-center" style="font-family: monospace;">
                    <form method="POST" action="/addemployee" role="form" name="form">
                        <div class="row">
                            {% for field in EmployeeForm %}
                            <div class="col-sm-1">
                                
                            </div>
                            <div class="col-sm-4">
                                {{ field.label }}
                            </div>
                            <div class="col-sm-7">
                                {{ field }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="container-fluid mt-4">
                                    <button type="submit" class="btn btn-danger btn-lg btn-block border-dark ">add employee!</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
