{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img src="
            https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_upperleft_png512.png" alt="logo" width="165" height="150">
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <strong class="card-title">Company</strong>
                    <p class="card-text">
                            Baklava LLC
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" >
                <div class="card-body">
                    <strong class="card-title"> Employee </strong>
                    <p class="card-text">
                        Abuzer Kadayif
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-2 m-2">
    <div class="row">
        <div class="col-sm-8">
            
        </div>
        <div class="col-sm-4">
            Hours Worked
        </div>
    </div>
</div>
<div class="container-fluid p-2 m-2">
    <div class="row">
        <div class="col-sm-2">
            {% for day in Days %}
            <div style="height: 60px;">
                <div class="alert alert-info" role="alert">
                    <h4 style="font-family:monospace; text-align: center;">
                        {{ day }}
                    </h4>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-1">
            {% for label in ['in','out']*7 %}
            <div style="height: 30px;">
                <h6 style="font-family:monospace; font-weight: 600; text-align: center;">
                    {{ label }}
                </h6>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-4">
            <div class="row">
                {% for key, value in WeeklyResult.items() %}
                    <div class="col-sm-4">
                        <div style = "height: 30px;">
                            {{ value }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-2">
            {% for hours in WeeklyTimesheetRes.calc_daily_totals() %}
            <div style="height: 60px;" >
                {{ hours }}
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-2">
            {{ WeeklyTimesheetRes.calc_daily_total() }}
        </div>
    </div>
</div>
{% endblock content %}
