{% extends "layout.html" %}
{% block content %}

<div class="container-fluid p-2 m-2">
    <div class="row">
        <div class="col-sm-2">
            {% for day in Days %}
            <div style="height: 60px;">
                <div class="alert alert-info" role="alert">
                    <h4 style="font-family:monospace; text-align: center;">
                        {{ day }}
                    </h4>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-1">
            {% for label in ['in','out']*7 %}
            <div style="height: 30px;">
                <h6 style="font-family:monospace; font-weight: 600; text-align: center;">
                    {{ label }}
                </h6>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-4">
            <form method="POST" action="/timesheet" role="form", name="form">
                <div class="row">
                    {% for field in WeeklyTimesheetForm %}
                        <div class="col-sm-4">
                            <div style = "height: 30px;">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="container-fluid">
                            <button type="submit" class="btn btn-primary btn-lg btn-block border-light">J A M  a pay stub!</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    
{% endblock content %}
