<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    {% if title %}
        <title>JAM payroll - {{ title }}</title>
    {% else %}
    {% endif %}
    <link rel="icon" type="image/x-icon" class="favicon" href="
    https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_favIcon_png256_jframed.png
    ">
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">
            <img src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/navBarIcon_jam_jar_db.ico" width="128" height="55">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <i class="fa fa-address-book" aria-hidden="true"></i>

            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('intro') }}">Intro</a>
              <a class="nav-item nav-link" href="{{ url_for('send') }}">PayStub</a>
              <a class="nav-item nav-link" href="{{ url_for('timesheet') }}">Timesheet</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
              <a class="nav-item nav-link" href="https://github.com/attila5287/justaminutepayroll">Code</a>
              <a class="nav-item nav-link" href="https://github.com/attila5287/payroll_management_app_assets">Graphics</a>
            </div>

            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('wall') }}">Wall</a>
                <a class="nav-item nav-link" href="{{ url_for('addemployee') }}">AddEmployee</a>
                <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('addcompany') }}">AddCompany</a>
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}
          {% endblock %}
        </div>
        <div class="col-md-3 mt-3">
          <div class="content-section bg-dark" style="align-content: center;">
          <div class="text-center">
              <img src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_side_features_brushedFramed_transparent.ico" width="200" height="90">
          </div>

            <p class='text-muted'>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Calculate Hours</li>
                <li class="list-group-item list-group-item-light">Print Out Pay Stub</li>
                <li class="list-group-item list-group-item-light">Create Free Profile *</li>
                <li class="list-group-item list-group-item-light">*Record Employee Info </li>
                <li class="list-group-item list-group-item-light">*Read & Report Data</li>
                <li class="list-group-item list-group-item-light">*Dashboard Visuals </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      
    <!-- FOOTER -->
    <footer class="pt-2 my-md-5 pt-md-2 border-top">
        <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_upperleft_png512_brushedRedBlack.png" alt="" width="128" height="128">
        </div>
        <div class="col-6 col-md">
            <h5>Back End</h5>
            <ul class="list-unstyled text-small">
            <li><a class="text-muted" >Python App via Heroku</a></li>
            <li><a class="text-muted" >Flask web framework</a></li>
            <li><a class="text-muted" ></a>postGreSQL database</li>
            <li><a class="text-muted" ></a>SQL Alchemy</li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Front End</h5>
            <ul class="list-unstyled text-small">
            <li><a class="text-muted" >BootStrap</a></li>
            <li><a class="text-muted" >Jinja2 Template</a></li>
            <li><a class="text-muted" >bs4 carousel</a></li>
            <li><a class="text-muted" >HTML</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Full Stack: CRUD</h5>
            <ul class="list-unstyled text-small">
            <li><a class="text-muted" >Create</a></li>
            <li><a class="text-muted" >Read</a></li>
            <li><a class="text-muted" >Update</a></li>
            <li><a class="text-muted" >Delete</a></li>
            </ul>
        </div>
        </div>
    </footer>
    <footer class="container">
        <p class="float-right">
        About Developer: <a href="aboutdev/attila">@attila5287</a>
        </p>
        <p>Summer 2019  &middot  Github: <a href="https://github.com/attila5287/justaminutepayroll">Just A Minute Payroll</a>&middot </p>
    </footer>
    
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
