<div class="col-sm-3 mt-3">
        <div class="container-fluid">
          <div class="nav-flex-column bg-dark">
            {% if current_user.is_authenticated %}
            <a class="nav-item nav-link text-secondary" href="{{ url_for('send') }}">
              <i class="fa fa-print mr-2" aria-hidden="true"></i>PayStub</a>
            <a class="nav-item nav-link text-secondary" href="{{ url_for('timesheet') }}">
              <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>Timesheet</a>
            <a class="nav-item nav-link text-secondary" href="{{ url_for('wall') }}">
              <i class="fa fa-cubes mr-2" aria-hidden="true"></i>Wall</a>
            <a class="nav-item nav-link text-secondary" href="{{ url_for('wall') }}">
              <i class="fa fa-vcard ml-4 mr-2" aria-hidden="true"></i>Add Employee</a>
            <a class="nav-item nav-link text-secondary" href="{{ url_for('wall') }}">
              <i class="fa fa-cubes ml-4 mr-2" aria-hidden="true"></i>Add Company</a>
            <a class="nav-item nav-link text-secondary" href="{{ url_for('new_post') }}">
              <i class="fa fa-check-square-o mr-2" aria-hidden="true"></i>New Post</a>
            <a class="nav-item nav-link text-secondary" href="{{ url_for('home') }}">
              <i class="fa fa-home mr-2" aria-hidden="true"></i>Home</a>
            <a class="nav-item nav-link text-secondary" href="{{ url_for('account') }}">
              <i class="fa fa-key mr-2" aria-hidden="true"></i>Account</a>
            <a class="nav-item nav-link text-secondary" href="{{ url_for('logout') }}">
              <i class="fa fa-sign-out mr-2" aria-hidden="true"></i>Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{{ url_for('send') }}">
              <i class="fa fa-print mr-2" aria-hidden="true"></i>
              PayStub</a>
            <a class="nav-item nav-link" href="{{ url_for('timesheet') }}">
              <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>Timesheet</a>
            {% endif %}
          </div>
        </div>
      </div>
      
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
              <img
                src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/navBarIcon_jam_knottyy.ico"
                width="96" height="36">
              <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link"<button class="btn btn-sm btn-outline-danger" type="button"
                  href= "https://github.com/attila5287/justaminutepayroll">click to see code</button>
                  <a class="nav-item nav-link" href="{{ url_for('send') }}">
                    <i class="fa fa-print mr-2" aria-hidden="true"></i>
                    PayStub</a>
                  <a class="nav-item nav-link" href="{{ url_for('timesheet') }}">
                    <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>Timesheet</a>
                  <a class="nav-item nav-link" href="https://github.com/attila5287/justaminutepayroll">
                    <i class="fa fa-code-fork" aria-hidden="true"></i>
                    Code</a>
                  <a class="nav-item nav-link" href="https://github.com/attila5287/payroll_management_app_assets">
                    <i class="fa fa-file-image-o  mr-2" aria-hidden="true"></i>
                    Graphics</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                  {% if current_user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-cubes mr-2" aria-hidden="true"></i>Wall</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item nav-link text-secondary" href="{{ url_for('wall') }}">
                        <i class="fa fa-cubes mr-2" aria-hidden="true"></i>Wall</a>
                      <a class="dropdown-item nav-link text-secondary" href="{{ url_for('wall') }}">
                        <i class="fa fa-vcard mr-2" aria-hidden="true"></i>Add Employee</a>
                      <a class="dropdown-item nav-link text-secondary" href="{{ url_for('wall') }}">
                        <i class="fa fa-cubes mr-2" aria-hidden="true"></i>Add Company</a>
                    </div>
                  </li>
                  <a class="nav-item nav-link" href="{{ url_for('new_post') }}">
                    <i class="fa fa-check-square-o mr-2" aria-hidden="true"></i>
                    New Post</a>
                  <a class="nav-item nav-link" href="{{ url_for('home') }}">
                    <i class="fa fa-home mr-2" aria-hidden="true"></i>Home</a>
                  <a class="nav-item nav-link" href="{{ url_for('account') }}">
                    <i class="fa fa-key mr-2" aria-hidden="true"></i>Account</a>
                  <a class="nav-item nav-link" href="{{ url_for('logout') }}">
                    <i class="fa fa-sign-out mr-2" aria-hidden="true"></i>Logout</a>
                  {% else %}
                  <a class="nav-item nav-link" href="{{ url_for('login') }}">
                    <i class="fa fa-user-circle mr-2" aria-hidden="true"></i>
                    Login</a>
                  <a class="nav-item nav-link" href="{{ url_for('register') }}">
                    <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
                    Register</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </nav>