{% extends "layout.html" %}
{% block content %}
<div class="container-fluid p-2 mt-2">
    <div class="row">
        <div class="col-sm-5">
            <div class="card border-primary">
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Text
                    </p>
                    <i class="fa fa-address-book" aria-hidden="true" style="font-size: x-large;"></i>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-2 mt-2">
    <div class="row">
        <div class="col-sm-5">
            <div class="card bg-light light-danger border-light" >
                <img class="card-img" src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/card-img-overlay.ico" alt="" style="width: 90%;">
                <div class="card-img-overlay">
                <h5 class="card-title text-danger" style="width: 90%;font-family:  monospace;text-align: center;">New Employee</h5>
                <p class="card-text">
                    {% for field in EmployeeFormData %}
                    <div class="row">
                        <div class="col-sm-6 text-danger" style="text-align: right; font-family: 'Courier New', Courier, monospace; font-size: 10px;">
                            {{ field.label }}
                        </div>
                        <div class="col-sm-6 text-dark" style="font-family: cursive; font-size:12px;">
                            {{ field.data }}
                        </div>
                    </div>
                    {% endfor %}
                </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-hover table-striped mt-5">
                <tbody>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="text-align:center">id</th>
                            <th scope="col" style="text-align:center">firstName</th>
                            <th scope="col" style="text-align:center">middleName</th>
                            <th scope="col" style="text-align:center">lastName</th>
                            <th scope="col" style="text-align:center">companyName</th>
                            <th scope="col" style="text-align:center">allowance</th>
                            <th scope="col" style="text-align:center">hourlyRate</th>
                            <th scope="col" style="text-align:center">userID</th>
                        </tr>
                    </thead>
                    {% for employee in AllEmployees %}
                    <tr>
                        <td style="text-align:center">{{ employee.id }}</td>
                        <td style="text-align:center">{{ employee.firstName }}</td>
                        <td style="text-align:center">{{ employee.middleName }}</td>
                        <td style="text-align:center">{{ employee.lastName }}</td>
                        <td style="text-align:center">{{ employee.companyName }}</td>
                        <td style="text-align:center">{{ employee.allowance }}</td>
                        <td style="text-align:center">{{ employee.hourlyRate }}</td>
                        <td style="text-align:center">{{ employee.user_id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- CRUD FEATURES ADD-DEL-EDIT EMPLOYEE-->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card bg-dark p-4 text-light mb-2">
                    <img class="card-img-top" src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_formIcon_wallArt_employee_add.ico" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <p class="card-text">features add-updte-delete-employee</p>
                        <a href="/addemployee" class="btn btn-danger" target="_blank">Learn More</a>
                    </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-dark p-4 text-light text-center mb-2">
                    <img class="card-img-top" src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_formIcon_wallArt_employee_delete.ico" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <p class="card-text">features add-updte-delete-employee</p>
                        <a href="/addemployee" class="btn btn-danger" target="_blank">Learn More</a>
                    </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-dark p-4 text-light mb-2">
                    <img class="card-img-top" src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_formIcon_wallArt_employee_show.ico" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <p class="card-text">features add-updte-delete-employee</p>
                        <a href="/addemployee" class="btn btn-danger" target="_blank">Learn More</a>
                    </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-dark p-4 text-light mb-2">
                <img class="card-img-top" src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_formIcon_wallArt_employee_update.ico" alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text">features add-updte-delete-employee</p>
                    <a href="/addemployee" class="btn btn-danger" target="_blank">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
