{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <img class="card-img-top mb-2"
            src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/wall_grid_employee.ico"
            alt="">
    </div>

    <div class="col-sm-8">
        <div class="row">
                    <!-- UNIFORM FORM-FIELD-ERROR-by_at52 -->
        <div class="col-sm-4">
            <img class="card-img-top mb-2"
                src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/home_create.ico"
                alt="">
    
            <form method="POST" action="" enctype="multipart/form-data">
                {% for field in form %}
                <div class="form-group">
                    <span class="badge badge-secondary text-light text-center mb-0 mt-2">
                        <a>
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                            {{ field.label }}
                        </a>
                    </span>
                    {{ field(class="form-control form-control-lg border-secondary mb-2") }}
    
                    {% if field.errors %}
    
                        {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
    
                    {% endif %}
                    
                </div>
    
                {% endfor %}
                
                <div class="form-group">
                <button type="submit" class="btn btn-danger btn-lg btn-block border-dark" style="border-width: medium;">
                    <a>create!</a> 
                </button>                
                </div>
            </form>
    
            <img class="card-img-top my-2"
                src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/account_edit_bottom.ico"
                alt="">
        </div>
        <!-- UNIFORM FORM-FIELD-ERROR-by_at52 -->
        <div class="col-sm-4">
            <img class="card-img-top mb-2"
                src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/home_update.ico"
                alt="">
    
            <form method="POST" action="" enctype="multipart/form-data">
                {% for field in form2 %}
                <div class="form-group">
                    <span class="badge badge-secondary text-light text-center mb-0 mt-2">
                        <a>
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                            {{ field.label }}
                        </a>
                    </span>
                    {{ field(class="form-control form-control-lg border-secondary mb-2") }}
    
                    {% if field.errors %}
    
                        {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
    
                    {% endif %}
                    
                </div>
    
                {% endfor %}
                
                <div class="form-group">
                <button type="submit" class="btn btn-danger btn-lg btn-block border-dark" style="border-width: medium;">
                    <a>update!</a>
                </button>                
                </div>
            </form>
    
            <img class="card-img-top my-2"
                src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/account_edit_bottom.ico"
                alt="">
        </div>
        <!-- UNIFORM FORM-FIELD-ERROR-by_at52 -->
        <div class="col-sm-4">
            <img class="card-img-top mb-2"
                src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/home_delete.ico"
                alt="">
    
            <form method="POST" action="" enctype="multipart/form-data">
                {% for field in form3 %}
                <div class="form-group">
                    <span class="badge badge-secondary text-light text-center mb-0 mt-2">
                        <a>
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                            {{ field.label }}
                        </a>
                    </span>
                    {{ field(class="form-control form-control-lg border-secondary mb-2") }}
    
                    {% if field.errors %}
    
                        {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
    
                    {% endif %}
                    
                </div>
    
                {% endfor %}
                
                <div class="form-group">
                <button type="submit" class="btn btn-danger btn-lg btn-block border-dark" style="border-width: medium;">
                    <a>delete!</a>
                </button>                
                </div>
            </form>
    
            <img class="card-img-top my-2"
                src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/account_edit_bottom.ico"
                alt="">
        </div>
        </div>
    </div>
</div>





<div class="container-fluid my-2 p-2">
    <div class="row">
        <div class="col-sm-4">
            {% for post in WallPosts %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.date_posted }}</small>
                    </div>
                    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="col-sm-6">
            <div class="card text-secondary bg-light border-light">
                <img class="card-img-top"
                    src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/wall_employee_add.ico"
                    alt="Card image" style="width:100%">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-secondary bg-dark border-radius-4 rounded-4">
                <div class="card-body text-center" style="font-family: monospace;">
                    <div class="container-fluid mt-0 p-1">
                        <form class="form-inline" method="POST" action="/addemployee">
                            <div class="row">
                                {% for field in EmployeeForm %}
                                <div class="col-sm-5">
                                    {{ field.label  }}
                                </div>
                                <div class="col-sm-7">
                                    {{ field }}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="container-fluid mt-4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-danger btn-lg btn-block border-danger ">add
                                            employee!</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card text-light bg-dark border-light">
                <img class="card-img-top"
                    src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/wall_company_add.ico"
                    alt="Card image" style="width:100%">
                <div class="card-body text-center" style="font-family: monospace;">
                    <form method="POST" action="/addcompany">
                        <div class="row">
                            {% for field in CompanyForm %}
                            <div class="col-sm-12">
                                {{ field.label }}
                            </div>
                            <div class="col-sm-12">
                                {{ field }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="container-fluid mt-4">
                                    <button type="submit" class="btn btn-danger btn-lg btn-block border-danger ">add
                                        company!</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-hover table-striped mt-5">
                <tbody>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="text-align:center">id</th>
                            <th scope="col" style="text-align:center">companyName</th>
                            <th scope="col" style="text-align:center">userID</th>
                        </tr>
                    </thead>
                    {% for company in AllCompanies %}
                    <tr>
                        <td style="text-align:center">{{ company.id }}</td>
                        <td style="text-align:center">{{ company.companyName }}</td>
                        <td style="text-align:center">{{ company.user_id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-hover table-striped mt-5">
                <tbody>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="text-align:center">id</th>
                            <th scope="col" style="text-align:center">firstName</th>
                            <th scope="col" style="text-align:center">middleName</th>
                            <th scope="col" style="text-align:center">lastName</th>
                            <th scope="col" style="text-align:center">companyName</th>
                            <th scope="col" style="text-align:center">allowance</th>
                            <th scope="col" style="text-align:center">hourlyRate</th>
                            <th scope="col" style="text-align:center">userID</th>
                        </tr>
                    </thead>
                    {% for employee in AllEmployees %}
                    <tr>
                        <td style="text-align:center">{{ employee.id }}</td>
                        <td style="text-align:center">{{ employee.firstName }}</td>
                        <td style="text-align:center">{{ employee.middleName }}</td>
                        <td style="text-align:center">{{ employee.lastName }}</td>
                        <td style="text-align:center">{{ employee.companyName }}</td>
                        <td style="text-align:center">{{ employee.allowance }}</td>
                        <td style="text-align:center">{{ employee.hourlyRate }}</td>
                        <td style="text-align:center">{{ employee.user_id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- CRUD FEATURES ADD-DEL-EDIT EMPLOYEE-->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card bg-dark p-4 text-light mb-2">
                <img class="card-img-top"
                    src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_formIcon_wallArt_employee_add.ico"
                    alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text">features add-updte-delete-employee</p>
                    <a href="/addemployee" class="btn btn-danger" target="_blank">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-dark p-4 text-light text-center mb-2">
                <img class="card-img-top"
                    src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_formIcon_wallArt_employee_delete.ico"
                    alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text">features add-update-delete-employee</p>
                    <a href="/addemployee" class="btn btn-danger" target="_blank">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-dark p-4 text-light mb-2">
                <img class="card-img-top"
                    src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_formIcon_wallArt_employee_show.ico"
                    alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text">features add-updte-delete-employee</p>
                    <a href="/addemployee" class="btn btn-danger" target="_blank">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-dark p-4 text-light mb-2">
                <img class="card-img-top"
                    src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_formIcon_wallArt_employee_update.ico"
                    alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text">features add-updte-delete-employee</p>
                    <a href="/addemployee" class="btn btn-danger" target="_blank">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
